.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #a0691c;
    width: 100vw;
}

.paper {
    background-image: none;
    color:black;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #c4c4c4, -5px -5px 15px #ffffff;
}

.analyze-button {
    margin-top: 1rem;
    background: #64b5f6;
}

.sentiment{
    padding-bottom: 10px;
    padding-top: 10px;
}
.circular-progress {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.neumorphism {
    border-radius: 50px;
    background: #bababa;
    box-shadow: inset 20px 20px 40px #616161,
                inset -20px -20px 40px #ffffff;
}

.box {
    width: 120px;
    padding: 5px;
    border-radius: 26px;
    background: #bababa;
    box-shadow: inset 20px 20px 40px #616161,
            inset -20px -20px 40px #ffffff;
}

.grid {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around; /* Updated to align to the right */
}